parameters:
	tmpDir: %currentWorkingDirectory%/var/phpstan
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
	level: max
	paths:
		- src
		- tests/Middleware
		- tests/Providers
		- tests/Response
		- tests/Router
		- tests/Whoops
